@media screen {
    body {
        width: 80%;
        height: 100%;
        margin: auto;
        font-family: 'Oswald', sans-serif;
        font-size: 16px;
    }

    img {
        height: 50px;
        width: 50px;
    }

    header {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-template-areas: "weather-here new-location weather-here";
    }
    .weather-here {
        font-size: 4vw;
        margin: 0;
        border: 1px solid red;
    }

    .new-location {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3px;
        border: 1px solid red;
    }

    button {
        cursor: pointer;
        border: none;
        font-family: 'Oswald', sans-serif;
    }

    button:focus {
        outline: none;
    }

    header button {
        height: 50px;
        width: 20vw;
        border-radius: 10px;
    }
    main {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
     }
    .my-city img {
          height: 250px;
          width: 250px;
          float: left;
          margin-right: 50px;
          border: 1px solid red;
      }
    h2 {
        font-size: 3rem;
        margin: 0;
        border: 1px solid red;
        text-align: center;
    }

    .my-city p {
        font-size: 5rem;
        border: 1px solid red;
    }
    ul {
        list-style-type: none;
        padding: 0;

        border: 1px solid red;
    }

    ul li {
        display: flex;
        justify-content: space-between;

        margin-bottom: 5px;

        padding-left: 3px;
        padding-right: 3px;

        background: lightblue;
    }

    .favorites-header {
        margin: 0;
    }

    .new-city {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    input {
        height: 50px;
        width: 300px;

        background: none;
        border: 1px solid lightblue;

        padding-left: 10px;

        margin-right: 10px;
    }

    input:focus {
        outline: none;
    }

    main button {
        background: lightblue;
        height: 50px;
        width: 50px;
        border-radius: 50%;

        font-size: 2rem;
        line-height: 30px;
        color: white;

        text-decoration: none;
        cursor: pointer;

        margin-right: 5px;
    }

    .city-left {
        padding-right: 50px;
        /*border: 1px solid red;*/
    }

    .city-right {
        padding-left: 50px;
        /*border: 1px solid red;*/
    }
    h3 {
        font-size: 2rem;
        margin: 0;

    }

    .city-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 50%;

    }

    .city-header p {
        font-size: 2rem;
        font-weight: bold;
        margin: 0;

    }

    .city-header img {
        margin: 0;
    }

    .close-button {
        float: right;
        margin: 5px 4px 0 0;
    }
}


@media screen and (max-width: 500px) {
    body {
        width: 95%;
    }
    header button {
        height: 50px;
        width: 50px;
        background-image: url("img/reload.svg");
        font-size: 0;
        border-radius: 10px;
    }
    main {
         grid-template-columns: 1fr;
     }
    .my-city img {
          height: 150px;
          width: 150px;
      }
    .my-city p {
           font-size: 4rem;
           margin-top: 30px;
       }
    .new-city {
        margin-top: 10px;
    }
    .city-left {
        margin-top: 10px;
        padding-right: 0;
    }

    .city-right {
        margin-top: 10px;
        padding-left: 0;
    }
}